.THIS.c-container {
    border: 1px solid #d8dde6;
    margin: 10px 0 20px 0;
    background : white !important;
}
.THIS .large {
    height: 200px;
}
.THIS .x-large {
    height: 300px;
}
.THIS .custom-box {
    text-align: center;
}